@media(max-width: 1200px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 991px){
    .header {
        padding: 2rem 3%;
    }

    section{
        padding: 10rem 3% 2rem;
    }

    .footer{
        padding: 2rem 3%;
    }

    .services{
        padding-bottom: 7rem;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

    .contact{
        min-height: auto;
    }
}

@media (max-width: 864px){
    .about{
        flex-direction: column-reverse ;
    }

    .portfolio{

        & h2{
            margin-bottom: 3rem;
        }
        &__container{
            grid-template-columns: repeat(2,1fr);
        }
    }

}

@media(max-width: 768px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0, .2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0, .2);
        display: none;

        &.active{
            display: block;
        }

        & a{
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
        }

    }

    .home{
        flex-direction: column;
        &__content{
            & h3{
                font-style: 2.6rem;
            }

            & h1{
                font-size: 5rem;
            }
        }

        &__img{
            & img{
                width: 70vh;
                margin-top: 4rem;
            }
        }
    }

    .about{
        flex-direction: column-reverse ;

        & img{
            width: 50vh;
            margin-top: 4rem;
        }
    }

    .services{
        & h2{
            margin-bottom: 3rem;
        }
    }

}

@media(max-width: 617px){

    .about{
        & img{
            width: 50vh;
        }
    }

    .portfolio{
        &__container{
            grid-template-columns: 1fr;
            padding: 0 5rem;
        }

        &__box{
            height: 36rem;
        }
    }
}

@media(max-width: 470px){
    html{
        font-size: 50%;
    }

    .home{
        &__img{
            img{
                width: 50vh;
                margin-right: 0;
            }
        }
    }

    .contact{
        &__form{
            & .input-box{
                & input{
                    width: 100%;
                } 
            }
        }
    }

    .portfolio{
        &__container{
            padding: 0 3rem;
        }
        &__box{
            height: 33rem;
        }
    }
}

@media(max-width: 378px){
    .home{
        &__img{
            img{
                width: 50vh;
                margin-right: 0;
            }
        }
    }

    .footer{
        flex-direction: column-reverse;
        & p{
            text-align: center;
            margin-top: 2rem;
        }
    }

    .portfolio{
        &__container{
            padding: 0 2rem;
        }
        &__box{
            height: 27rem;
        }
    }
}

@media(max-width: 340px){
    .home{
        &__img{
            img{
                width: 40vh;
                margin-right: 0;
            }
        }
    }

    .about{

        & img{
            width: 43vh;
            margin-top: 4rem;
        }
    }
}

@media(max-width: 300px){
    .about{

        & img{
            width: 35vh;
            margin-top: 4rem;
        }
    }

    .home{
        &__img{
            img{
                width: 35vh;
                margin-right: 0;
            }
        }
    }
}
