// @keyframes slideRight {
//     0% {
//         transform: translateX(-100px);
//         
//     }

//     100% {
//         transform: translateX(0);
//         opacity: 1;
//     }
// }

// @keyframes slideLeft {
//     0% {
//         transform: translateX(100px);
//         
//     }

//     100% {
//         transform: translateX(0);
//         opacity: 1;
//     }
// }

// @keyframes slideTop {
//     0% {
//         transform: translateY(100px);
//         
//     }

//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @keyframes slideBottom {
//     0% {
//         transform: translateY(-100px);
//         
//     }

//     100% {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// @keyframes colorReplase{
//     0% {
//         background:rgb(32, 10, 52);
//     }

//     100% {
//         background: rgb(38, 6, 68);
//     }
// }

@keyframes flyImage{
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes rotate-center {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(360deg);
    }
}


@keyframes focus-in-contract-bck {
    0% {
      letter-spacing: 1em;
              filter: blur(12px);
      opacity: 0;
    }
    100% {
              transform: translateZ(12px);

              filter: blur(0);
      opacity: 1;
    }
}  