:root{
    --bg-color: rgb(32, 10, 52);
    --second-bg-color: rgb(24, 6, 41);
    --text-color: rgb(255, 255, 255);
    --header-color: rgb(38, 6, 68);
    --main-coloor: rgb(133, 255, 224);
    --main_two-color: rgb(189,244,229)

}